body {
    font-family: 'PT Sans', sans-serif;
    background-color: darkseagreen;
    background-position: top center;
    background-repeat: repeat;
}

h1 {
    color: maroon;
}

img[alt$=">"] {
    float: right;
    max-width: 40%;
    width: 400px;
}

img[alt$="<"] {
    float: left;
}

img[alt$="><"] {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    float: none!important;
}

/* Font family of headers */
h1,h2,h3,h4,h5,h6{
    font-family: 'IM Fell DW Pica SC', serif;
    color: #8C1717;
}

/* Sizes, weight and text-decorations of headers */
h1{
    font-size: 190%;
    font-weight: normal;
    text-decoration: none;
    margin-bottom: -5px;
    font-family: 'IM Fell DW Pica SC', serif;
}
h2{
    font-weight: normal;
    font-size: 140%;
    text-decoration: none;
    color: #8C1717;
    background: #ECC3BF;
    display:flex;
    padding:3px 15px;
    max-width: 95%;
}
h3{
    font-weight: normal;
    font-size: 140%;
    text-decoration: none;
    margin-bottom: -5px;
}
h4{
    font-weight: bold;
    font-size: 130%;
    text-decoration: none;
    margin-top: -3px;
    margin-bottom: -3px;
}
h5 {
    font-weight: bold;
    font-size: 100%;
    text-decoration: none;
}
h6 {
    font-weight: bold;
    font-size: 90%;
    text-decoration: none;
}

div.phb-sidebar{
    float: right;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: 1px solid gray;
    background-color: #CEC;
}

div.errata{
    float: right;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: 1px solid gray;
    background-color: #FEA;
}

table, tbody, th, td {
    border: 1px solid black;
}

th, td {
    margin: 0;
    padding: 3px;
}

div.no-border table, table, tbody, thead, tr, th, td {
    border: 0;
}

div.toc {
    float: right;
    margin: 1em;
	padding: 0.5em 0.5em 0.5em 0;
	border: 1px dashed gray;
	background-color: #F7F7F7;
	display: table;
}

div.toc ul {
    list-style-type: none;
    margin: 0 0 0 1em;
    padding: 0 0 0 0;
}

/* From https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 3px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}