body {
    font-family: 'PT Sans', sans-serif;
    background-color: darkseagreen;
    text-align: center;
}

div#comic-title {
    color: maroon;
    font-size: 60px;
}

div#post-date {
    font-weight: bold;
}

div#tags {
    font-style: italic;
}

table#navigation-buttons {
    margin-left: auto;
    margin-right: auto;
}
