/*
Change these options to customize the color scheme and a few layout options of your website.
Most layout options are stored in src/css/advanced_stylesheet.css. I do not recommend messing with those settings
unless you know what you're doing, or you're willing to spend a lot of time on trial and error.

For any colors, you can represent them in hexadecimal like this (#FF0000 = red)
or use this list of available color names: https://www.w3schools.com/cssref/css_colors.asp
 */

body {
    font-family: 'PT Sans', sans-serif;  /* The font of all the text on all pages */
    color: black;  /* The color of the font of most of the text on your website */
    background-color: white;  /* The color of the background behind everything */
    background-image: url("../../../images/background_image.png");  /* The pattern on the background. Delete to change to a solid color
                                                       or replace with your own image to tile across your background. */
}

a {
    color: maroon;  /* The color of the hyperlinks */
}

div#container {
    max-width: 1000px;  /* The width of the main box that contains all content on the pages */
    background-color: white;  /* The background color of the main box */
    box-shadow: 5px 5px 10px lightgray;  /* If you change the background color of website, play with this or else it will look bad. */
}

div#links-bar {
    background-color: indianred;  /* The background color of your links bar */
}

a.link-bar-link {
    color: white;  /* The color of the links in your links bar */
    font-weight: bold;  /* Delete this to unbold the links in your links bar*/
    text-decoration: none;  /* Delete this line to put underlining on the links in your links bar */
}

a.link-bar-link:hover {
    color: black;  /* The color of the links in your links bar while the cursor is hovering over them */
}

a.navigation-button {
    color: maroon;  /* Color of the navigation bar hyperlinks */
    font-size: 2em;  /* Size of the navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your navigation links to be underlined */
}

a.navigation-button-disabled {
    color: gray;  /* Color of the disabled navigation bar hyperlinks */
    font-size: 2em;  /* Size of the disabled navigation bar hyperlinks */
    text-decoration: none;  /* Delete this if you want your disabled navigation links to be underlined */
}

div#blurb {
    background-color: lightgray;  /* The color of the "blurb" box that contains post title, post date, tags, etc. */
    width: 75%;  /* The maximum width of the blurb box. */
    border-left: 3px dotted lightslategray;  /* If you change the background color of the blurb, play with these two lines or else it will look bad */
    border-right: 3px dotted lightslategray;
}

h1#post-title {
    color: black;  /* Color of the page title */
    font-size: 3em;  /* Font size of the post title */
}

div#post-date {
    font-weight: bold;  /* Delete this to unbold the post date */
}

div#storyline, div#characters, div#tags {
    font-style: italic;  /* Delete this to unitalicize the tags */
}
