/* ADVANCED OPTIONS -- CHANGE AT YOUR OWN RISK */

body {
    text-align: center;
}

div#container {
    display: inline-block;
    text-align: center;
    margin: 15px;
    padding: 30px;
}

div img {
    max-width: 100%;
}

div#banner {
    margin-bottom: 15px;
}

div#links-bar {
    background-color: indianred;
    margin-bottom: 15px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

a.link-bar-link + a.link-bar-link::before {
    content: "|";
    color: black;
    margin: 0 10px;
}

div#comic-page {
    margin-bottom: 20px;
}

div#navigation-bar {
    display: flex;
    margin: 0 auto 20px auto;
    font-weight: bold;
    justify-content: center;
}

a.navigation-button, a.navigation-button-disabled {
    padding: 0 20px;
}

div#blurb {
    display: inline-block;
    text-align: left;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 15px 15px 10px 15px;
}

h1#page-title {
    margin-top: 5px;
    margin-bottom: 10px;
}

div#post-date {
    margin-top: 1em;
}

div#tags {
    margin-top: 0.25em;
}

hr#post-body-break {
    margin: 1em 0;
}

div#archives {
    display: inline-block;
    text-align: left;
}

div#powered-by {
    font-size: 9pt;
}

div.archive-grid {
    display: flex;
    flex-wrap: wrap;
}

div.archive-thumbnail {
    text-align: center;
    padding: 10px;
}

h2.archive-section {
    text-align: center;
}

div.archive-thumbnail-page {
    margin-bottom: 2px;
}

div.archive-thumbnail-title {
    font-weight: bold;
    margin-bottom: 5px;
}

div.archive-thumbnail-post-date {
    font-style: italic;
    font-size: 10pt;
}

div#jump-to {
    margin-bottom: 15px;
}

a.chapter-links {
    margin-right: 10px;
}

div#load-older {
    margin-bottom: 15px;
}

div.cast-member {
    max-width: 100%;
    margin: 30px;
}

img.cast-member-picture {
    max-width: none;
    margin: 10px;
}

div.cast-member-bio {
    text-align: left;
    margin: 5px;
}

div.accordion {
    margin: 5px;
}

button.accordion-button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12pt;
    transition: 0.4s;
}

.active, button.accordion-button:hover {
    background-color: #ccc;
}

button.accordion-button:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

div.accordion-panel {
    text-align: left;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
