body {
    font-family: 'PT Sans', sans-serif;
    background-color: darkseagreen;
    text-align: center;
}

div#container {
    display: inline-block;
    max-width: 1050px;
    width: 70%;
    background-color: floralwhite;
    text-align: center;
}

div img {
    max-width: 100%;
}

div#banner, div#comic-page {
    margin: 30px;
}

div#comic-title {
    color: maroon;
    font-size: 60px;
}

div#post-date {
    font-weight: bold;
}

div#tags {
    font-style: italic;
}

table#navigation-buttons {
    margin-left: auto;
    margin-right: auto;
    font-size: 18pt;
    font-weight: bold;
}

a.navigation-button {
    text-decoration: none;
}

div#archives {
    display: inline-block;
    width: 70%;
    text-align: left;
}